<%- include('header'); -%>
<div class="container">

        <h3>Main Tech</h3>
<ul>
   <li> Node</li>
   <li> MongoDB</li>
   <li> CRUD</li>
  
</ul>  
        <h3>Main Functions</h3>
<ul>
   <li> Creat</li>
   <li> Read</li>
   <li> Update</li>
   <li> Delete</li>  
</ul>
</div>
 <%- include('footer'); -%>