<!DOCTYPE html>
<html>
  <head>
    <title>LipingWu's interview demo</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.css" />
    <script type="text/javascript" src="/js/courses.js"></script>
  </head>

  <body>
    <div class="header">
      <h1>
        <img src="/img/Centennial.jfif" height="80px" weight="80px" />
        <h2>Liping Wu's Code Demo</h2>
      </h1>
    </div>

    <nav
      class="navbar navbar-expand navbar-light bg-light"
      style="background-color: rgb(188, 226, 188)"
    >
      <a class="navbar-brand" href="/">Home | </a>
      <a class="navbar-brand" href="/courses">Add a Course |</a>
      <a class="navbar-brand" href="/list_courses">Courses List |</a>
      <a class="navbar-brand" href="/about">About the project |</a>
      <a class="navbar-brand" href="/thankyou">Thankyou</a>
    </nav>
  </body>
</html>
