<!DOCTYPE html>
<html>

<head>
   <title> Midterm Practice 1 </title>
   <link rel="stylesheet" href="/css/styles.css">
   <link rel="stylesheet" href="/css/bootstrap.css">
   <link rel="stylesheet" href="/css/bootstrap-theme.css">
</head>

<body>
   <div class="header">
      <h1> <img src="/img/Centennial.jfif" height="80px" weight="80px"> Centennial College COMP308 Midterm Practice 1-Task
      </h1>
   </div>


      <nav  class="navbar navbar-expand navbar-light bg-light" style="background-color:rgb(188, 226, 188);">      
            <a class="navbar-brand" href="/">Home   |  </a> 
             <a class="navbar-brand" href="/tasks">Add a Task   |</a> 
             <a class="navbar-brand" href="/list_tasks">Tasks List    |</a>
             <a class="navbar-brand" href="/about">About the project    |</a>       

             <div class="collapse navbar-collapse" id="navbarSupportedContent">              
               <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                
                </form>
            </div>
      
      </nav>
