<!DOCTYPE html>
<html>
<head>
<title> Midterm Practice 1 </title>
</head>
<body>

<ul>
	<li> <a href="/tasks"> Add Task</a></li>
	<br>
	<li><a href="/list_tasks">List Tasks</a> </li>

	
</ul>

</body>
</html>
