
 <%- include('header'); -%>
 <div class="container">
<ul>
	<li> <a href="/courses"> Add Course</a></li>
	<br>
	<li><a href="/list_courses">List Courses</a> </li>	
</ul>
</div>
  <%- include('footer'); -%>

