<%- include('header'); -%>
<div class="container">
  <ul>
    <li><a href="/courses_add"> Add Course</a></li>
    <br />
    <li><a href="/courses_list">List Courses</a></li>
  </ul>
</div>
<%- include('footer'); -%>
